<!DOCTYPE html>
<html>
  <head>
    <title>Neddit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="main-head">
      <div class="logo">
        <a href="<% posts_path %>">
          <%= image_tag("logo.png", height:"80") %>
        </a>
        <%= link_to 'Home', root_path %>
      </div>
      <nav class="main-nav">
        <%= link_to '', new_post_path, class: 'fas fa-pen-square fa-2x', style: "color: #223E4A" %>
        <%= link_to '', new_post_path, class: 'fas fa-user fa-2x', style: "color: #223E4A" %>
        <%= link_to 'Sign Up', new_user_registration_path, class: 'btn nav-link' %>
        <%= link_to 'Log in', user_session_path, class: 'btn nav-link' %>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
        <!-- <a href="profile.html" class="nav-link"><i class="fas fa-user fa-2x" style="color: #223E4A"></i></a> -->
        <!-- <a href="sign-up.html"  class="btn nav-link">Sign Up</a> -->
        <!-- <a href="log-in.html" class="btn nav-link"></i>Log in</a> -->
      </nav>
    </header>
    <div class="content-wrap">
      <main>
        <div class="container">
            <%= yield %>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
      </main>
    </div>
  </body>
</html>
